*#
.#*
bin/
dist/
doc/#*
doc/.#*
doc/*.aux
doc/*.log
doc/*.out
doc/*.pdf
doc/*.tex
doc/*.toc
doc/sassetti.1
*.fasl
.make.test.results
TODO
doc/COPYING.html
doc/COPYING.mdwn
doc/INSTALL.html
doc/INSTALL.mdwn
doc/README.html
doc/README.mdwn
doc/TODO.*
doc/colophon.html
doc/hacking.html
doc/sassetti.html
